@model backend_TimeAttPlus.Models.Request

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveDtTmFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveDtTmFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveDtTmTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveDtTmTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LeaveNo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
